[Unit]
Description=webapp
After=network.target

[Service]
WorkingDirectory=/home/admin/webapp
Environment=NODE_PORT=3000
Type=simple
User=admin
ExecStart=/usr/bin/node /home/admin/webapp/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target
