[Unit]
Description=webapp
After=network.target cloud-final.service

[Service]
WorkingDirectory=/home/admin/webapp
Environment=NODE_PORT=3000
Type=simple
User=admin
ExecStart=/usr/bin/npm run start
Restart=on-failure

[Install]
WantedBy=cloud-init.target
